body {
  font-family: "Ubuntu";
  background-color: #d5b9b2;
}

/* navbar css starts here  */
.bg-light {
  background-color: #f2e9e4;
}

.navbar-brand {
  font-family: "Ubuntu";

  color: #5f6368;
}

.nav-link {
  color: #5f6368;
  font-family: "Ubuntu";
}

.nav-link:hover {
  background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info {
  padding: 2rem 5rem;
}

.btn-info {
  padding: 1rem 1.2rem;
  background-color: rgb(78, 153, 223);
  color: rgb(47, 23, 116);
  margin-left: 5px;
  padding: 0.75rem;
  transition: all 0.3s;
}

.btn-info:hover {
  background-color: rgb(67, 83, 230);
}
